body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffcce0;
  }
  
  .form-container {
    display: in;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  .form-container .a {
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: #ff0066;
    line-height: 40px;
    border-radius:8px ;
    text-decoration: none;
  }
  .product-container a:hover {
    background-color: white;
    color: blue;
}
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 560px;
    align-items: center;

  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #ff0066;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  form button:hover {
    background-color: white;
    color: blue;
    text-decoration: none;
  }
  
  #responseMessage {
    text-align: center;
    margin-top: 10px;
    color: green;
  }
  