
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: antiquewhite;
            color: #339966;
        }

        .container {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 15px;
            padding: 40px;height: 400px;
            width: 100%;
            max-width: 500px;
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        .container h1 {
            font-size: 2rem;
            margin-bottom: 30px;
        }

        .form-group {
            margin-bottom: 30px;
            position: relative;
        }

        .form-group input {
            width: 100%;
            padding: 10px 15px;
            border: none;
            border-radius: 25px;
            outline: none;
            background: #c6ecd9;
            color: #339966;
            font-size: 1rem;
        }

        .form-group input::placeholder {
            color: #339966;
        }

        .form-group input:focus {
            background: rgba(246, 246, 246, 0.91);
        }

        .btn {
            display: inline-block;
            padding: 10px 25px;
            border: solid;
            border-color: #339966;
            border-radius: 8px;
            background: #d9f2e6;
            color: #339966;
            font-size: 1rem;
            cursor: pointer;
            transition: background 0.3s ease;
            margin-top: 10px;
        }

        .btn:hover {
            background: #339966;
            color: white;
        }

       
        @media (max-width: 768px) {
            .container {
                padding: 30px;
            }
        }
    