/* General Reset and Font Settings */
* {
   
    box-sizing: border-box;
}

body {
    
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursive;
    line-height: 1.6;
    background: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtNDUxLWJnLTA2LmpwZw.jpg');    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}


/* Header Styling */
header {
    background: #d9f2e6;
    color: #339966;
    padding: 20px;
   
    
}
header .logo h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-weight: bold;
    color: #339966;
    text-decoration: underline;
}

nav ul li a:hover{
    background: #339966;
    color: white;
    text-shadow: 2px 2px 5px white;
}

/* Hero Section Styling */
.hero {
    color:  #339966;
    text-align: center;
     
}


.hero h2 {
    color: #339966;
    font-size: 36px;
}

.hero p {
    line-height: 50px;
    font-size: 20px;
}

.hero a {
    font-size: 18px;
    font-weight: bold;
    color: #339966;
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 2px 2px 5px white;
}

.hero a:hover {
    background: #339966;
    color: white;
    text-shadow: 2px 2px 5px white;
}
.more a {
    display: inline-block;
    width: 300px;
    height: 40px;
    color: #339966;
    background: #c6ecd9;
    line-height: 40px;
    border-radius:8px ;
    text-decoration: none;
    border-color: #339966;
    border-style:solid;
    border-width: 1px;
    text-align: center;


}
.more a:hover {
    background: #339966;
    color: white;
    text-shadow: 2px 2px 5px white;
}

/* Products Section Styling */

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}
h2 {
    
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #339966;
}

.product-card {
    display: inline-block;
    height: 100%;
    width: auto;
    max-width: 100%;
    background-color: antiquewhite;
    padding: 20px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 18px 26px #D9F2E6;
    border-radius: 8px;
}
.product-card:hover {
    background: #d9f2e6;

    transform: scale(1.05)
}

.product-card a {
    display: inline-block;
    width: 100px;
    height: 40px;
    color: #339966;
    background: #c6ecd9;
    line-height: 40px;
    border-radius:8px ;
    text-decoration: none;
    border-color: #339966;
    border-style:solid;
    border-width: 1px;
    margin-top: 10px;


}
.product-card a:hover {
    background: #339966;
    color: white;
    text-shadow: 2px 2px 5px white;
}

.product-card img {
    width: 350px;
    height: 350px;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1px;
}

.product-card h3 {
    font-size: 22px;
    margin-bottom: 1px;
}

.product-card p {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.product-card button {
    background-color: #ffcce0;
    color: #D9F2E6;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-height: 50px;
    max-width: 150px;
    font-size: 20px;
    text-shadow: 2px 2px 5px white

;
}

.product-card button:hover {
    background-color: white;
    text-shadow: 2px 2px 5px white;
}

/* Footer Section Styling */

/* Responsive Design for Mobile Screens */
@media (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
    }
    .hero {
        background-position: center;
    }
    header nav {
        font-size: 16px;
        width: 100%;
    }

    .products {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .product-card {
        align-content: center;
        width: auto;
        max-width: 90%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .product-card img {
        width: 100%;
        height: auto;
    }
    .product-card button {
       
        max-height: 50px;
        max-width: 150px;
      align-content:flex-start;
    }
    
    

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 18px;
    }
}


  
  
 