* {
   
    box-sizing: border-box;
}

body {
    
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursive;
    line-height: 1.6;
    background: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtNDUxLWJnLTA2LmpwZw.jpg');    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}


/* Header Styling */
header {
    background: #d9f2e6;
    color: #339966;
    padding: 20px;
   
    
}
header .logo h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-weight: bold;
    color: #339966;
    text-decoration: underline;
}

nav ul li a:hover{
    background: #339966;
    color: white;
    text-shadow: 2px 2px 5px white;
}

.thank {
    display: inline-block;
    background-color: white;
    color:  #336600;
    text-align: center;
    padding: 12% 35% 15% 30%;
}


.thank h2 {
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 40px;
}

.thank p {
    line-height: 40px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thank a {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #336600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.thank a:hover {
    background-color: white;
    color: blue;
    text-decoration: none;
    text-shadow: 2px 2px 5px gray;
}
