* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background-color: #336600;
    color: white;
    padding: 20px;
    text-align: center;
    
}
.header .button {
    display: inline-block; /* Ensures the link behaves like a block-level element but fits inline */
    padding: 10px 10px; /* Add spacing around the text */
    height: 50px; /* Set a specific height */
    width: 150px; /* Set a specific width */
    background-color: #ffcce0; /* Button background color */
    color: white; /* Text color */
    text-align: center; /* Center-align the text */
    text-decoration: none; /* Remove the underline */
    border-radius: 35px; /* Add rounded corners */
    border: none; /* Remove any border */
    font-size: 24px; /* Set font size */
    font-weight: bold; /* Optional: make text bold */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease;
    color: #336600; 
    align-items: center;
    margin-bottom: 2px;/* Smooth hover effect */
  }

header .logo h1 {
    margin-bottom: 10px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border-color: #f4f4f4;
    border-style:solid;

}

header nav a:hover {
    text-decoration: underline;
    background-color: white;
    color: blue;
    text-decoration: none;
    text-shadow: 2px 2px 5px gray;
}
.thank {
    display: inline-block;
    background-color: white;
    color:  #336600;
    text-align: center;
    padding: 12% 35% 15% 30%;
}


.thank h2 {
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 40px;
}

.thank p {
    line-height: 40px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thank a {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #336600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.thank a:hover {
    background-color: white;
    color: blue;
    text-decoration: none;
    text-shadow: 2px 2px 5px gray;
}
